@charset "utf-8";
/* 全局样式 */
html { font-size: 62.5%; }

body, h1, ul {
	margin: 0;
}

ul {
	padding-left: 0;
	list-style: none;
}

body {
	font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","PingFang SC","Arial","Microsoft YaHei",sans-serif;
	font-size: 1.4rem;
}

a {
	text-decoration: none;
	color: #27A2E2;
}

a:hover { color:#f60; }

.clearfix {
	overflow: hidden;
	_zoom:1;
}


/* 页头 */
.header h1 a {
	display: block;
	width: 120px;
	height: 60px;
	background-image: url(../images/logo.gif);
	text-indent: -9999px;
}

/* banner */
.banner img {
	width: 100%;
}


